html {
  width: 100%;
  padding: 0;
  margin: 0;
}
  
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: .8em;
}

#alertSound {
  display: none;
}

.btn {
  padding: 5px 10px 5px 10px;
  font-size: 2.5em;
}

.rail {
  background-color: #b3e6ff;
  padding-bottom: 20px;
}

.lrail {
  border-radius: 6px 0px 0px 6px;
}

.rrail {
  border-radius: 0px 6px 6px 0px;
}

.other { 
  background-color: #cccccc;
  padding-bottom: 20px;
  border-radius: 6px;
}

#row4 {
 background-color: #ffff80;
 padding-bottom: 20px;
}

.row {
  text-align: top;
}
