
body {
  width: 100%;
  padding: 0;
}

#alertSound {
  display: none;
}

.btn {
  padding: 10px 10px 10px 10px;
  font-size: 3.5em;
}

.rail {
  background-color: #b3e6ff;
  padding-bottom: 20px;
}

.lrail {
  border-radius: 6px 0px 0px 6px;
}

.rrail {
  border-radius: 0px 6px 6px 0px;
}

.other { 
  background-color: #cccccc;
  padding-bottom: 20px;
  border-radius: 6px;
}

#row4 {
 background-color: #ffff80;
 padding-bottom: 20px;
}

.row {
  text-align: bottom;
}
